<div class='col-sm-6 col-md-4 col-lg-3'>
  <div class='card'>
    <img
      src='/images/{{picture}}'
      class='card-img-top w-30'
      alt='food pictures'
      height='100px'
    />
    <div class='card-body'>
      <h2 class='card-title text-center'>{{name}}</h2>
      {{description}}
      {{allergens}}
      {{categories}}
      {{#if @root.loggedIn}}
        {{! Inputs }}
        <div class='text-center'>
          <label class='btn btn-secondary'>
            <input type='checkbox' name='selected' />
            Select
          </label>
          <select class='form-select' aria-label='Default select example'>
            <option value='0' selected>Select Quantity...</option>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
            <option value='5'>5</option>
            <option value='6'>6</option>
            <option value='7'>7</option>
            <option value='8'>8</option>
            <option value='9'>9</option>
          </select>
        </div>
      {{/if}}
    </div>
  </div>
</div>